extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/customers-section.css")
  link(rel="stylesheet", href="/stylesheets/dragndrop-control.css")

block navigation
  nav.container
    a(href="/")
      div.img-logo
    ul.nav-buttons
      li
        a(href='/split') Split
      li 
        a(href='/logout') Log out

block content
  section.container.header
    h1= title
  section.container.main
    article.main
      h3.main-title This is API response
      form.api-response
      canvas#myChart
  section.container.files-upload
    form.dropzone(action="/upload", id="file-upload")

block append scripts
  script(src="/javascripts/customer-ajax.js")
  script(src="/javascripts/customers-chart.js")
  script(src="/javascripts/dropzone.js")