extends layout

block append head
  link(rel="stylesheet", href="/stylesheets/main-section.css")
  link(rel="stylesheet", href="/stylesheets/functions-section.css")
  link(rel="stylesheet", href="/stylesheets/quotes-section.css")
  link(rel="stylesheet", href="/stylesheets/feeds-section.css")

block navigation
  nav.container
    a(href="/")
      div.img-logo
    ul.nav-buttons
      li
        a(href='/') Home
      li
        a(href='/split') Split
      li 
        a(href='/login') Log in

block content
  section.container.header
    h1= title
    p Welcome to #{title}
  section.container.main
    article.main
      h3.main-title This is an app consuming a third party service
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim debitis repudiandae minus! Omnis sunt quaerat, at soluta placeat sed reiciendis voluptas facilis provident voluptatem ducimus officia, natus maiores nulla alias, iste eaque. Delectus qui quasi dolorum. Corporis vitae dolorum vel id architecto at, ducimus quos commodi sapiente? Architecto dolores provident, in sequi ducimus vel eligendi exercitationem a quis nihil iure illo voluptatum officiis. Ducimus nostrum adipisci maiores blanditiis exercitationem iusto dicta aperiam repellat quasi nisi non quidem odio error voluptatibus vero itaque cupiditate eligendi optio, corporis doloremque magnam voluptas! Enim quo consequatur obcaecati soluta nulla beatae sint sit? Molestiae dolorum asperiores illum natus aut! Beatae, aut quod tenetur similique a vitae ipsum voluptatum consequuntur maxime aperiam laborum. Quaerat, natus odit. Ullam dolores fugiat veritatis aspernatur? Eum nemo, consequatur repellendus sed aperiam laborum a hic totam quod, ex unde perspiciatis labore et. Vero tempore expedita illum recusandae fugiat nobis neque quod?
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore a excepturi officia, doloremque, dolores nulla placeat sed eligendi perferendis tempore hic dicta rerum facere rem reiciendis quis nesciunt laborum, qui eveniet velit corporis ex quaerat consequuntur amet! Eligendi laudantium neque nam, debitis ipsam quos, expedita animi alias sequi aliquid ullam modi labore delectus officia optio perferendis rem sed doloremque doloribus exercitationem omnis dicta libero dolorum? Reiciendis aut dolores culpa animi temporibus quae in aliquam sapiente maxime optio repellendus quisquam rerum, delectus enim itaque asperiores esse fuga laborum veniam ipsum id adipisci ad beatae? Aspernatur quod corporis ad quam dolore nostrum!
    article.side
      h3.side-title The SOAP server
      p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consectetur eveniet deserunt, saepe vel omnis voluptatem atque dignissimos error nostrum repellendus molestiae, doloremque illum harum dolorem neque quia possimus totam fugit facilis temporibus animi obcaecati impedit adipisci! Optio unde quo impedit eaque totam odio eveniet deserunt necessitatibus inventore, expedita quas, illo aperiam amet. Sit minima quidem officia ad ipsum facilis, ab quisquam inventore similique. Eius quam, deleniti quidem perferendis dolorem molestiae dignissimos non amet. Repellendus voluptas tempore aperiam esse magnam eos, enim, ex alias tenetur omnis at atque doloribus vel consectetur vero sint similique consequuntur repellat, et assumenda. Earum, deleniti. Eos!

  section.container.functions
    article.function
      h4.function-title Function #1
      p.function-descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, eaque.
    article.function
      h4.function-title Function #2
      p.function-descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, eaque.
    article.function
      h4.function-title Function #3
      p.function-descr Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, eaque.

  section.container.quotes
    article.quote#first
      h4.quote-title Gary from Company #1
      p.quote-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea consectetur laborum impedit blanditiis, vel quod.
    article.quote#second
      h4.quote-title Jerry from Company #2
      p.quote-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nam vero eligendi dolorem. Ex, cumque!
    article.quote#third
      h4.quote-title John from Company #3
      p.quote-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolor voluptatum omnis perspiciatis possimus magnam?

block timeline
  section.container.feeds
    article.twt-timeline
      a.twitter-timeline(data-height="600", data-dnt="true", data-theme="light", href="https://twitter.com/commit_global") Tweets by @commit_global
      script(async, src="https://platform.twitter.com/widgets.js", charset="utf-8")
