include includes/invoice-mixin

doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/stylesheets/normalize.css')
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navigation
      nav.container
        a(href="/")
          div.img-logo
    block content
    block timeline
    block login-form
    block footer
      footer.container
        p #{name} @ 2018
    block scripts
      script(src='/jquery/jquery.js')
      script(src='/chart.js/Chart.js')
      script(src='/javascripts/script.js')
