extends layout

block content
  section.container.header
    h1= title

block login-form
  section.container
    form.login-form(name='login-form', action='/login', method='post')
      label(for='string-input') Username:
      input(id='username-input', type='text', placeholder='Type in your username', name="username", value='', required)
      label(for='splitter-input') Password:
      input(id='password-input', type='password', placeholder='Type in your password', name="password", value='', required)
      input(type='submit')
    p.result #{data}