extends layout

block navigation
  nav.container
    a(href="../")
      div.img-logo
    ul.nav-buttons
      li
        a(href='/customers') Customers
      li 
        a(href='/logout') Log out

block content
  section.container.header
    h1= title

block login-form
  section.container
    form.login-form(name='main-form', action='/split', method='post')
      label(for='string-input') String to split:
      input(id='string-input', type='text', placeholder='Type in the string to split', name="string", value='', required)
      label(for='splitter-input') Splitter:
      input(id='splitter-input', type='text', placeholder='Type in the splitter character', name="splitter", value='', required)
      input(type='submit')
    p.result #{data}