form.api-response {
    padding: 20px;
}

form.loading-box {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 30px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

form.display-table {
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 5px;
    font-size: 0.75rem;
    text-align: center;
    vertical-align: baseline;
    line-height: 25px;
}

@media only screen and (min-width: 768px) {
    form.display-table {
        grid-template-columns: 1fr 2fr 1fr 2fr;
    }
}

@media only screen and (min-width: 993px) {
    form.display-table {
        grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    }
}

form.display-table > input {
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #3498db;
    margin: 0px 10px;
}

form.display-table > input:active, form.display-table > input:focus {
    border: none;
    border-bottom: 1px solid #61C573;
    border-radius: 0;
}