@media only screen and (min-width: 600px) {
    section.functions {
        margin: 0px auto 20px auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

article.function {
    display: grid;
    margin-bottom: 10px;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
        "title"
        "descr";
}

article.function * {
    box-sizing: border-box;
    border: 1px solid #00B7FF;
    width: 200px;
    margin: 0 auto;
}
article.function h4.function-title {
    line-height: 200px;
    text-align: center;
    background-color: #00B7FF;
    grid-area: title;
    border-radius: 5px 5px 0 0;
    color: #ffffff;
}

article.function p.function-descr {
    grid-area: descr;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border-radius: 0 0 5px 5px;
}

@media only screen and (min-width: 768px) {
    article.function:nth-child(2) {
        grid-template-areas: 
            "descr"
            "title";
    }
    article.function:nth-child(2) p.function-descr {
        border-radius: 5px 5px 0 0;
    }
    article.function:nth-child(2) h4.function-title {
        border-radius: 0 0 5px 5px;
    }
}