@media only screen and (min-width: 768px) {
    section.main {
        margin: 10px auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }
}


article.main, article.side {
    padding: 20px;
}
article h3 {
    margin-bottom: 20px;
}
article.main h3.main-title {
    text-align: center;
}
article p {
    margin-bottom: 10px;
}