section.quotes {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.19) 1%, rgba(0,0,0,0.02) 66%, rgba(0,0,0,0) 73%, rgba(0,0,0,0) 88%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.19) 1%,rgba(0,0,0,0.02) 66%,rgba(0,0,0,0) 73%,rgba(0,0,0,0) 88%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.19) 1%,rgba(0,0,0,0.02) 66%,rgba(0,0,0,0) 73%,rgba(0,0,0,0) 88%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 500px;
    margin: 80px auto;
    position: relative;
    overflow: hidden;
}

article.quote {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
}

article.quote h4.quote-title {
    font-size: 1.2rem;
    width: 60%;
    text-align: right;
    font-weight: lighter;
}

article.quote p.quote-text {
    font-size: 3rem;
    font-weight: lighter;
    font-style: italic;
}