* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  height: 800px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
a {
  color: #00B7FF;
}

/** ** Navigation ** **/
nav.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 75px;
  line-height: 75px;
  text-align: center;
  position: relative;
}

div.img-logo {
  display: block;
  height: 75px;
  width: 100px;
  text-align: center;
  background-image: url('../images/pug-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

ul.nav-buttons li {
  display: inline-block;
  width: 100px;
}

ul.nav-buttons li:hover {
  background-color: #00B7FF;
  color: #ffffff;
}

ul.nav-buttons li a, ul.nav-buttons li a:hover{
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
}

/** ** Content ** **/
section.header {
  text-align: center;
}

p.result {
  text-align: center;
  font-size: 2rem;
  margin: 20px 0;
}

/** ** Login Form ** **/
form.login-form {
  max-width: 500px;
  width: 100%;
  margin: 40px auto;
}

form.login-form *{
  display: block;
  margin: 20px 20px 0px 20px;
}

form.login-form input[type='text'], form.login-form input[type='password']{
  width: 80%;
  margin-left: 10%; 
}

form.login-form input[type='submit'] {
  position: relative;
  width: 80px;
  height: 25px;
  line-height: 25px;
  margin-left: 50%;
  left: -40px;
}

/** ** Footer ** **/
footer.container p {
  text-align: center;
}